<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}" />

  {{ partial "_og.html" . }}
  {{ partial "_twitter_card.html" . }}
  {{ partial "_schema.html" . }}

  <link rel="canonical" href="{{ .Permalink }}">
  <link href="{{ $.Site.BaseURL }}/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Title }}">

  {{ $stylesheet := resources.Get "scss/main.scss" | toCSS (dict "targetPath" "css/style.css" "outputStyle" "compressed") | minify }}
  {{ with $stylesheet }}
  <link rel="stylesheet" type="text/css" href="{{ .Permalink | relURL }}">
  {{ end }}

  <title>{{ block "title" . }}{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}{{ end }}</title>
</head>

<body>
  <nav class="main-nav">
    {{ partial "menu.html" . }}
  </nav>

  <aside class="intro">
    {{ with $author_name := .Site.Params.author.name }}
    {{ $author_image := resources.Get (printf "%s/%s.jpg" "images" (replace $author_name " " "_" | lower)) }}
    {{ $author_image := $author_image.Fit "144x144" }}
    <img src="{{ $author_image.RelPermalink }}" alt="Picture of {{ $author_name }}" class="intro__image">
    {{ end }}

    <p>Hi, I'm <a href="https://twitter.com/{{ .Site.Params.author.twitter }}" target="_blank">Markus</a>.  Founder of <a href="https://www.adsfromsource.com" target="_blank">Ads From Source</a>. <span class="intro__action">{{- block "intro__action" . -}}Welcome!{{- end -}}</span></p>
  </aside>

  <main class="content">
    {{ block "main" . }}{{ end }}
  </main>

  <div class="newsletter">
    join newsletter
  </div>

  <footer class="footer">
    <span>&copy; {{ .Site.Params.author.name }}</span>
    <nav class="footer-nav">
      {{ partial "menu.html" . }}
    </nav>
  </footer>
</body>
</html>
