{{- define "main" -}}

<div class="archived-notice">
  You are viewing an archived post.
  <br>
  Contents of this post may no longer be relevant or work as described.
</div>

<article class="post">
  <header class="post__header">
    <h1 class="post__title">
      {{ $title := .Title }}
      {{- with .Params.link -}}
      <a href="{{ . }}">{{ $title }}</a>
      {{- else -}}
      <a href="{{ .RelPermalink }}">{{ $title }}</a>
      {{- end -}}
    </h1>
    <div class="post__info">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time> - {{- range .Param "tags" -}}{{- $name := (lower .) -}}
      <span class="post__tag">#{{ $name }}</span>
      {{ end -}}
    </div>
  </header>

  {{ .Content }}
</article>
{{- end -}}
