{{ define "intro__action" }}{{ partial "intro-action" . }}{{ end }}

{{- define "main" -}}
<article class="post">
  <header class="post__header">
    <h1 class="post__title">
      {{ $title := .Title }}
      {{- with .Params.link -}}
      <a href="{{ . }}">{{ $title }}</a>
      {{- else -}}
      <a href="{{ .RelPermalink }}">{{ $title }}</a>
      {{- end -}}
    </h1>
    <div class="post__info">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time> - {{- range .Param "tags" -}}{{- $name := (lower .) -}}{{- with $.Site.GetPage (printf "/tags/%s" $name) -}}<a href="{{ .RelPermalink }}"> #{{ $name }}</a>{{- end -}}{{- end -}}
    </div>
  </header>

  {{ .Content }}
</article>
{{- end -}}
