{{- define "main" -}}
{{ range $index, $element := first 10 (where .Pages "Section" "in" .Site.Params.mainSections) }}
  {{ $element.Render "summary"}}

  {{ if eq $index 2 }}
    {{ $gallery_link := relref . "/page/gallery.md" }}
    {{ with $photos := (($.Site.GetPage "/gallery").Resources.ByType "image") }}
    {{ $photos := sort $photos "Name" "desc" }}
      <aside class="gallery gallery--inline" aria-hidden="true">
      {{ range first 9 $photos }}
        <a href="{{ .RelPermalink }}" class="gallery__preview" target="_blank"><img src="{{ (.Fill "220x220 smart").RelPermalink }}" alt=""></a>
      {{ end }}
        <div class="gallery__more">
          <a href="{{ $gallery_link }}">More</a>
        </div>
      </aside>
    {{ end }}
  {{ end }}
{{ end }}
<a href="{{ relref . "/page/archive.md" }}">Archived articles...</a>
{{- end -}}

