{{- define "main" -}}
<div class="intro">
  <div class="intro__image">
    {{ with $author_name := .Site.Params.author.name }}
    {{ $author_image := resources.Get (printf "%s/%s.jpg" "images" (replace $author_name " " "_" | lower)) }}
    {{ $author_image := $author_image.Fit "144x144" }}
    <img src="{{ $author_image.RelPermalink }}" alt="Picture of {{ $author_name }}" class="intro__image">
    {{ end }}
  </div>

  <div class="intro__about">
    <p class="intro__name">{{ .Site.Params.author.name }}</p>

    <p>Web, Mobile & Desktop developer — available for hire.</p>
    <p><a href="{{ absURL "resume-markus-bodner-en.pdf" }}">Resume (PDF)</a></p>

    <div class="intro__email">
      <p>{{ .Site.Params.author.email }}</p>
      <button class="copy-button">copy</button>
    </div>
  </div>
</div>

<section class="projects">
  <p class="projects__intro">
    Things I created during a 9 year stint of trying to bootstrap my own startup. <br>
    In no particular order. <br>
    I miss them dearly. <br>
    🪦
  </p>

  <article class="project__listing">
    <header class="project__header">
        <h2>Blip</h2>
        <span class="project__tech">Swift, AppKit, SQLite, macOS, HTML, CSS, JavaScript</span>
    </header>

    <p>Fully native macOS app that allows you take notes with the press of a shortcut. Tag if it feels good or bad and review the entries on a daily to yearly basis. Super fast. Could load hundreds of past entries in a few ms. All data was kept locally in an SQLite database.</p>
  </article>

  <article class="project__listing">
    <header class="project__header">
      <h2>Newsletty</h2>
      <span class="project__tech">Elixir, Phoenix Framework, Postgres, Mailgun, Stripe, Oban, HTML, CSS, JavaScript</span>
    </header>

    <p>Manage newsletter, collecting signups, paid subscriptions, selling sponsorship/ad slots. All of that while retaining full ownership. Payments made to your own Stripe account, access to all subscribers at all times. With the option to self host. Basically if you know Substack: That, with the option to self host it all if you wanted to.</p>
  </article>

  <article class="project__listing">
    <header class="project__header">
      <h2>Ads From Source</h2>
      <span class="project__tech">Elixir, Phoenix Framework, Postgres, Stripe, HTML, CSS, JavaScript</span>
    </header>

    <p>Directly sell ad-space on your web properties to businesses without going through intermediaries like Google. Offer available time slots at specific prices business can sign up for to advertise. Review the ads and accept/reject ads based in your needs. Get paid directly to your own Stripe account.</p>
  </article>

  <article class="project__listing">
    <header class="project__header">
      <h2>CC to Sheet</h2>
      <span class="project__tech">Elixir, Phoenix Framework, Postgres, Mailgun, Google Sheets, HTML, CSS, JavaScript</span>
    </header>

    <p>1. Get a feature request about <em>puppies</em>. 2. Reply "Yes we can add puppies" and put <em>puppies@cctosheet.com*</em> as BCC recipient. 3. email of sender gets added to sheet under "<em>puppies</em>". Easy as that. Pretty cool! (* defunct, sadly)</p>
  </article>

  <article class="project__listing">
    <header class="project__header">
      <h2>Once FYI</h2>
      <span class="project__tech">Elixir, Phoenix Framework, Postgres, Mailgun, HTML, CSS, JavaScript</span>
    </header>

    <p>A one time mailing list. Let people sign up, and once you're ready to announce your cool thing send <em>one</em> email to everyone on the list and the list self-destructs. Very useful for small announcements, followups multiple people are interested in, or to guarantee the other side they won't be spammed and only contacted about that one thing they signed up for.</p>
  </article>

  <article class="project__listing">
    <header class="project__header">
      <h2>Claire Budget</h2>
      <span class="project__tech">Swift, Objective-C, UIKit, Realm, HTML, CSS, JavaScript</span>
    </header>

    <p>Native iOS app to keep track of personal finances. Expenses and income. Group into categories. Quick and easy entry without having to think too much where to put things. Was accompanied with some basic financial tips as a blog.</p>
  </article>

  <article class="project__listing">
    <header class="project__header">
      <h2>Bold Shows</h2>
      <span class="project__tech">Elixir, Phoenix Framework, Postgres, HTML, CSS, JavaScript</span>
    </header>

    <p>Track and keep up with movies & tv shows you are watching. Made before trakt.tv was good.</p>
  </article>

  <article class="project__listing">
    <header class="project__header">
      <h2>ITROR - In The Right Order</h2>
      <span class="project__tech">C++, Java, cocos2d-x, iOS, Android</span>
    </header>

    <p>iOS and Android mobile game. The game has you remember a growing list of objects you have to tap in order they first appeared. With bonus difficulties/points earned for having random items in the list hidden during rounds as well as going in reverse at the end.</p>
  </article>

  <p class="projects__outro">…and a few more that never became functional at all.</p>

  <p>Further tech used in pretty much all projects:</p>
  <p><span class="project__tech">Git, Github, CI/CD, Ubuntu, Linux, Bash/Shell scripts, Ansible, Docker, nginx, Caddy, Photoshop, Sketch, NodeJS,…</span></p>

  <p style="margin-top: 6rem;">❤️ 🧡 💛 💚 💙 💜 🖤 🤍 🤎 👋</p>
</section>

<script>
  let email = document.querySelector(".intro__email p").textContent;
  let button = document.querySelector(".copy-button");

  button.addEventListener("click", function() {
    navigator.clipboard
      .writeText(email)
      .then(flashButtonOnSuccess());
  })

  function flashButtonOnSuccess() {
    button.textContent = "copied";
    button.disabled = true;

    setTimeout(function() {
      button.textContent = "copy";
      button.disabled = false;
    }, 500)
  }
</script>

{{- end -}}

