{{- define "main" -}}
<div class="intro">
  <div class="intro__image">
    {{ with $author_name := .Site.Params.author.name }}
    {{ $author_image := resources.Get (printf "%s/%s.jpg" "images" (replace $author_name " " "_" | lower)) }}
    {{ $author_image := $author_image.Fit "144x144" }}
    <img src="{{ $author_image.RelPermalink }}" alt="Picture of {{ $author_name }}" class="intro__image">
    {{ end }}
  </div>

  <div class="intro__about">
    <p class="intro__name">{{ .Site.Params.author.name }}</p>

    <p>Web, Mobile & Desktop development — available for hire.</p>
    <p><a href="{{ absURL "resume-markus-bodner-en.pdf" }}">Resume (PDF)</a></p>

    <div class="intro__email">
      <p>{{ .Site.Params.author.email }}</p>
      <button class="copy-button">copy</button>
    </div>
  </div>
</div>

<script>
  let email = document.querySelector(".intro__email p").textContent;
  let button = document.querySelector(".copy-button");

  button.addEventListener("click", function() {
    navigator.clipboard
      .writeText(email)
      .then(flashButtonOnSuccess());
  })

  function flashButtonOnSuccess() {
    button.textContent = "copied";
    button.disabled = true;

    setTimeout(function() {
      button.textContent = "copy";
      button.disabled = false;
    }, 500)
  }
</script>

{{- end -}}

