{{ partial "head.html" . }}
{{ partial "meta.html" . }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
</head>
<body>
{{ partial "header.html" . }}
    <article>
        <div class="headline">
            <div class="container">
                <a href="{{ .Permalink }}">
                    <h2>{{ .Title }}</h2>
                </a>
                <time datetime="{{ .Date.Format "2006-01-02" }}">Posted on {{ .Date.Format "January 02, 2006" }}</time> by {{ .Site.Author.name }} in <i class="fa fa-tags"></i>{{ range .Params.tags }} <a href="{{ $.Site.BaseUrl }}tags/{{ . | urlize }}" class="tags">{{ . }}</a>.{{ end }}
            </div>
        </div>
        <div class="container post">
            {{ .Content }}
        </div>
    </article>
    <section class="container">
        <div class="nav-post">
                {{if .Prev}}<i class="fa fa-caret-left"></i> <a href="{{.Prev.Permalink}}">{{.Prev.Title}}</a>{{end}}
        </div><div class="nav-post nav-post-prev">
                {{if .Next}}<a href="{{.Next.Permalink}}">{{.Next.Title}}</a> <i class="fa fa-caret-right"></i>{{end}}
        </div>
    </section>

{{ partial "footer.html" . }}