{{ partial "head.html" . }}
<link rel="stylesheet" href="/highlight/monokai.css">
{{ partial "meta.html" . }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
{{ partial "analytics.html" . }}
</head>
<body>
{{ partial "header.html" . }}
    <article>
        <div class="headline">
            <div class="container title">
                <a href="{{ .Permalink }}">
                    <h1>{{ .Title }}</h1>
                </a>
                <time datetime="{{ .Date.Format "2006-01-02" }}">Posted on {{ .Date.Format "January 02, 2006" }}</time> in <i class="fa fa-tags"></i>{{ range .Params.tags }} <a href="/tags/{{ . | urlize }}/" class="tags">{{ . }}</a>.{{ end }}
            </div>
        </div>
        <div class="container post">
            {{ .Content }}
        </div>
        <div class="container diamond">
            ◈
        </div>
    </article>

    {{ partial "disqus.html" . }}

    {{ partial "newsletter.html" . }}

    <section class="container">
        <div class="nav-post">
                {{if .Prev}}<i class="fa fa-caret-left"></i> <a href="{{.Prev.Permalink}}">{{.Prev.Title}}</a>{{end}}
        </div><div class="nav-post nav-post-prev">
                {{if .Next}}<a href="{{.Next.Permalink}}">{{.Next.Title}}</a> <i class="fa fa-caret-right"></i>{{end}}
        </div>
    </section>
<script src="/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{ partial "footer.html" . }}
