<h3>Sending Sometimes Sundays</h3>
<p>Subscribe to my newsletter for updates</p>
<form action="https://markusbodner.us11.list-manage.com/subscribe/post?u=c7ddfd92e643e03c2b9741fba&amp;id=c30028eeb4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-embed__form validate" target="_blank" novalidate>

  <input type="email" value="" name="EMAIL" class="newsletter-embed__input" id="mce-EMAIL" placeholder="your@email.com" required>

  <input type="text" value="" name="FNAME" class="newsletter-embed__input" id="mce-FNAME" placeholder="First Name (optional)">

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c7ddfd92e643e03c2b9741fba_c30028eeb4" tabindex="-1" value=""></div>

  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button--primary">
</form>
<!--End mc_embed_signup-->
