    <footer class="clrfix">
        <div class="container clrfix">
            <h2>That's it for now.</h2>
            <p>You have reached the very end. If you have any questions or anything I can help you with, feel free to <a href="mailto:{{ .Site.Author.email }}">email me</a>.<br>
            You can also follow me on Twitter: <a href="https://www.twitter.com/{{ .Site.Author.twitter }}">@tuacker</a></p>
            <small>&copy; Markus Bodner / <a href="/about/#privacy:6083a88ee3411b0d17ce02d738f69d47">Privacy</a></small>
            <nav class="nav">
{{ partial "nav.html" . }}
            </nav>
        </div>
        <div class="container newsletter clrfix">
            <span><i class="fa fa-envelope-o"></i> Sign up for the newsletter:</span>
            <form method="post" action="#">
                <input name="" type="text" placeholder="your@email.com">
                <input type="submit" value="Submit" class="btn btn-default">
            </form>
        </div>
    </footer>
</body>
</html>