    <header class="container clrfix">
        <a href="{{ $.Site.BaseURL }}">
            <div class="logo">
                <span>Markus Bodner</span>
            </div>
        </a><!--
        --><nav class="nav primary-nav">
{{ partial "nav.html" . }}
        </nav>
    </header>

    <div class="container notice">
      <p><strong>📢 Check out <a href="https://boldshows.com?ref=markusbodner">Bold Shows</a> a site to track your favorite TV Shows.</strong> I made it and would love to hear what you think.</p>
    </div>
