    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="article:published_time" content="{{ .Date.Format "Mon, 02 Jan 2006 15:04:05" }}" />
    <meta property="article:modified_time" content="{{ .Date.Format "Mon, 02 Jan 2006 15:04:05" }}" />
    {{ if isset .Params "tags" }}{{ range .Params.tags }}<meta property="article:tag" content="{{ . }}">
    {{ end }}{{ end }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ .Site.Author.twitter }}" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .Summary }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "publisher": "{{ .Site.Author.name }}",
            "author": {
                "@type": "Person",
                "name": "{{ .Site.Author.name }}",
                "image": "{{ .Site.BaseUrl }}/logo.png",
                "url": "{{ .Site.BaseUrl }}",
                "sameAs": null
            },
            "headline": "{{ .Title }}",
            "url": "{{ .Permalink }}",
            "datePublished": "{{ .Date.Format "Mon, 02 Jan 2006 15:04:05" }}",
            "dateModified": "{{ .Date.Format "Mon, 02 Jan 2006 15:04:05" }}",
            "keywords":"{{ if isset .Params "tags" }}{{ delimit .Params.tags "," }}{{ end }}",
            "description": "{{ .Summary }}"
        }
    </script>