{{ partial "head.html" . }}
<link rel="stylesheet" href="/prism/prism.css">
    <title>{{ .Site.Title }}</title>
{{ partial "analytics.html" . }}
</head>
<body>
{{ partial "header.html" . }}

{{ range first 3 (where .Data.Pages "Section" "post")}}
    <article>
        <div class="headline">
            <div class="container title">
                <a href="{{ .Permalink }}">
                    <h2>{{ if .Draft }}DRAFT ::::: {{end}}{{ .Title }}</h2>
                </a>
                <time datetime="{{ .Date.Format "2006-01-02" }}">Posted on {{ .Date.Format "January 02, 2006" }}</time> in <i class="fa fa-tags"></i>{{ range .Params.tags }} <a href="/tags/{{ . | urlize }}/" class="tags">{{ . }}</a>.{{ end }}
            </div>
        </div>
        <div class="container post">
            {{ .Content }}
        </div>
        <div class="container diamond">
            ◈
        </div>
    </article>
{{ end }}

{{ partial "newsletter.html" . }}
	<div class="nav-old-posts">
    	<a href="/archive/">Older posts</a>
    </div>
<script src="/prism/prism.js"></script>
{{ partial "footer.html" . }}
