{{ partial "head.html" . }}
    <title>{{ .Site.Title }}</title>
{{ partial "analytics.html" . }}
</head>
<body>
{{ partial "header.html" . }}

{{ range first 10 (where .Data.Pages "Section" "post")}}
    <article>
        <div class="headline">
            <div class="container">
                <a href="{{ .Permalink }}">
                    <h2>{{ if .Draft }}DRAFT ::::: {{end}}{{ .Title }}</h2>
                </a>
                <time datetime="{{ .Date.Format "2006-01-02" }}">Posted on {{ .Date.Format "January 02, 2006" }}</time> by {{ .Site.Author.name }} in <i class="fa fa-tags"></i>{{ range .Params.tags }} <a href="/tags/{{ . | urlize }}/" class="tags">{{ . }}</a>.{{ end }}
            </div>
        </div>
        <div class="container post">
            {{ .Content }}
        </div>
    </article>
{{ end }}
	<div class="nav-old-posts">
    	<a href="/archive/">Older posts</a>
    </div>
{{ partial "footer.html" . }}