/*************** RESET **** http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126   License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';	content: none;
}
table {
	border-collapse: collapse;	border-spacing: 0;
}

/*************** Clearfix ****************************************************/
.clrfix:before,
.clrfix:after {
	content: "";
	display: table;
}
.clrfix:after {
	clear: both;
}
.clrfix {
	clear: both;
	*zoom: 1;
}

/*************** Layout/Grid *************************************************/

*, *:before, *:after {
	box-sizing: border-box;
}

/* this (with some styles) is to make the footer stick to the bottom*/
html {
	position: relative;
	min-height: 100%;
}

body {
	color: #5d5d5d;
	font: 400 16px/24px  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*background-color: #f4f4f4;*/
	/*background-image: url("blizzard.png");*/
	margin-bottom: 350px; /* footer height */
}

.container {
	max-width: 850px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
}

hr {
	margin: 40px 0;
}

/*************** Typography **************************************************/
h1 {
	font-size: 32px;
	font-weight: 300;

}

h2 {
	font-size: 24px;
	line-height: 36px;
	letter-spacing: .5px;
	font-weight: 300;
}

.contentlist h2 {
	font-size: 28px;
	line-height: 2;
	font-weight: 400;
}

h3 {
	font-size: 18px;
	line-height: 27px;
	font-weight: 700;
	text-align: left;
}

h4 {
	font-weight: 700;
}

h3, h4 {
	margin-top: 1.5em;
	margin-bottom: .25em;
}
strong {
	font-weight: 700;
}

em {
	font-style: italic;
}
/*************** Links *******************************************************/
a {
	color: #ea3348;
}

a:hover {
	color: #b32738;
}

.headline a {
	color: #0f2633;
	text-decoration: none;
}

a.tags {
	color: #888;
}

.contentlist a {
	text-decoration: none;
}

nav a {
	color: #5d5d5d;
	text-decoration: none;
}

nav a:hover,
.headline a:hover {
	color: #ea3348;
}

nav a:hover,
.contentlist a:hover {
	text-decoration: underline;
}

.nav-post a {
	color: #888;
	text-decoration: underline;
}

.nav-post a:hover {
	color: #ea3348;
}

footer a {
	color: #ddd;
}


/*************** Buttons *****************************************************/
.btn {
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	letter-spacing: .5px;
	margin: 0;
	text-transform: uppercase;
}

.btn-default {
 	border: 0;
	background: #b32738;
	padding: 4px 30px;
	font-size: 14px;
}
.btn-default:hover {
	background: #ea3348;
}

/*************** Header ******************************************************/
header img,
header h1 {
	vertical-align: middle;
}

header {
	height: 150px;
	line-height: 130px;
}

.logo {
	border-top: 4px solid #ea3348;
	color: #5d5d5d;
	float:left;
	position: relative;
}

.logo h1:hover {
	color: #ea3348;
	transition: color .5s ease-in-out;
}

.logo:after {
	content: "";
	border-top: 4px solid #5d5d5d;
	top: -4px;
	left: 100%;
	width: 0;
	transition: width .5s, left .5s;
	position: absolute;
}

.logo:hover:after {
	left: 0;
	width: 100%;
	transition: width .5s;
}

.logo img {
	margin-right: 10px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}


/*************** Navigation **************************************************/
.primary-nav {
	font-size: 14px;
	padding-top: 6px;
}

.nav {
	text-align:right;
	letter-spacing: .5px;
}

.nav li {
	display: inline-block;
	margin: 0 10px;
	text-transform: uppercase;
}

.nav li:last-child {
	margin-right: 0;
}

.nav-old-posts {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 50px;
	text-transform: uppercase;
	font-weight: 400;
}

/*************** Article *****************************************************/
article {
	padding: 25px 0;
}

article:last-of-type {
	padding-bottom: 50px;
}

.headline {
	font-size: 12px;
	line-height: 2;
	color: #888;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #2E749C;
	border-bottom: 1px solid #2E749C;
	background-color: rgba(46,116,156,.05);
	margin-bottom: 25px;
}

.title {
	max-width: 700px;
}

.nav-post {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	padding-bottom: 50px;
}

.nav-post-prev {
	text-align: right;
}

.post {
	max-width: 700px;
	margin: 15px auto;
}

.post p {
	margin-bottom: 1em;
}

.post ul, .post ol {
	padding-left: 50px;
	padding-bottom: 15px;
	line-height: 1.5;
}

.post img,
.post video {
	width: 100%;
}

.post video {
	margin: 20px 0;
}

blockquote,
q {
	margin: 25px 25px;
	padding: 0 20px;
	border-left: 4px solid #ea3348;
	font-size: 18px;
	font-style: italic;
	line-height: 1.5;
}

sup {
	vertical-align: super;
	font-size: small;
}

.diamond {
	text-align: center;
	padding-top: 20px;
}

/*************** Code ********************************************************/
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  font-size: 90%;
  background-color: #ddd;
  border-radius: 3px;
}
p code {
	padding: .25em .5em;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ddd;
}

/*************** Footer ******************************************************/
footer {
	background-color: #383838;
	color: #ddd;
	margin-top: 44px;
	padding-top: 44px;
	padding-bottom: 44px;
	border-top: 5px solid #ea3348;
	/* make footer stick to bottom */
	position: absolute;
    left: 0;
    bottom: 0;
    height: 350px;
    width: 100%;
    box-shadow: inset 0 0 20px 20px rgba(0,0,0,.1);
}

footer h2 {
	font-weight: 700;
}
footer p {
	padding-bottom: 50px;
}

footer small {
	float:left;
}

footer small,
footer nav {
	font-size: 12px;
}

/*************** Archive/Tag-List/404 ****************************************/
.contentlist {
	padding-top: 25px;
	padding-bottom: 50px;
	font-size: 18px;
	line-height: 2;
	text-align: center;
}

.contentlist li {
	list-style: none;
	padding-left: 25px;
}

.contentlist li:hover {
	background-color: #ddd;
}

.contentlist a,
.contentlist time {
	display: inline-block;
}

.contentlist p>a {
	display: inline;
}

.contentlist a {
	width: 60%;
	text-align: left;
}

.contentlist time {
	width: 30%;
	text-align: right;
}

.contentlist span {
	background-color: #ddd;
	padding: 0 5px;
	border-radius: 7px;
}

/*************** Newsletter form *********************************************/
#mc_embed_signup {
	text-align: center;
}

#mc_embed_signup form {
	max-width: 450px;
	padding: 0 10px;
	margin: 40px auto;
}

.email,
.button {
	display:inline-block;
	vertical-align: middle;
}

#mc_embed_signup .button,
#mc_embed_signup .email {
	height: 44px;
	border: none;
}

#mc_embed_signup label {
	width: 20%;
}

#mce-EMAIL {
  width: 70%;
  background: #5d5d5d;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

#mc-embedded-subscribe {
  width: 30%;
  background: #ea3348;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
  -webkit-appearance: none;
}

#mc-embedded-subscribe:hover {
	background-color: #b32738;
}

input:focus {
  outline: none;
  outline: 2px solid #ea3348;
  box-shadow: 0 0 2px #ea3348;
}

/*************** Responsive **************************************************/

@media screen and (max-width: 700px) {
	/* footer is a little bit higher at this resolution */
	body {
		margin-bottom: 520px;
	}

	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
	/********** Typography *****************************************/
	h1 {
		font-size: 24px;
	}

	/********** Buttons ********************************************/
	.btn-default {
		margin-top: 10px;
	}

	/********** Header *********************************************/
	header {
		min-width: 320px;
		line-height: 1;
		height: 100%;
		padding-bottom: 50px;
	}

	.logo {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}

	.primary-nav {
		width: 100%;
		line-height: 1;
		text-align: center;
	}

	/********** Archive/Tag-List *********************************************/
	.contentlist {
		font-size: 14px;
	}

	.contentlist time,
	.contentlist a {
		font-size: 14px;
		text-align: left;
		width: 100%;
	}

	/********** Footer *******************************************************/
	footer {
		min-width: 320px;
		text-align: center;
		height: 520px; /* required to make footer stick to bottom properly */
	}

	footer small,
	footer .nav {
		width: 100%;
		text-align: center;
		padding-bottom: 25px;
	}

}

/* About **********************************************************************/
figure.about-figure {
  margin: 20px;
  border-bottom: 1px solid #eee;

  text-align: center;
}

figure.about-figure img {
	width: 140px;
	height: 140px;
}
