/*************** RESET **** http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126   License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, 
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, 
summary, time, mark, audio, video {
	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';	content: none;
}
table {
	border-collapse: collapse;	border-spacing: 0;
}

/*************** Clearfix ****************************************************/
.clrfix:before,
.clrfix:after {
	content: "";
	display: table;
}
.clrfix:after {
	clear: both;
}
.clrfix {
	clear: both;
	*zoom: 1;
}

/*************** Layout/Grid *************************************************/

*, *:before, *:after {
	box-sizing: border-box;
}

/* this (with some styles) is to make the footer stick to the bottom*/
html {		
	position: relative;
	min-height: 100%;
}

body {
	color: #5d5d5d;
	font: 400 16px/22px  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*background: #f9f5ef;*/
	background-color: #f4f4f4;
	background-image: url("blizzard.png");
	margin-bottom: 350px; /* footer height */
}

.container {
	max-width: 850px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px; 
}

/*.col-1-5 {
  width: 20%;
}

.col-4-5 {
  width: 80%;
}

.col-1-5,
.col-4-5 {
  display: inline-block;
  vertical-align: middle;
}*/

/*************** Typography **************************************************/
h1 {
	font-size: 32px;
	font-weight: 300;
	
}

h2 {
	font-size: 24px;
	line-height: 36px;
	letter-spacing: .5px;
	font-weight: 300;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

/*************** Links *******************************************************/
a {
	color: #ea3348;
}

a:hover {
	color: #b32738;
}

.headline a {
	color: #ddd;
	text-decoration: none;
}

a.tags {
	color: #888;
}

nav a {
	color: #5d5d5d;
	text-decoration: none;
}

nav a:hover,
.headline a:hover {
	color: #ea3348;
}

nav a:hover {
	text-decoration: underline;
}

footer a {
	color: #ddd;
}


/*************** Buttons *****************************************************/
.btn {
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	letter-spacing: .5px;
	margin: 0;
	text-transform: uppercase;
}

.btn-default {
 	border: 0;
	background: #b32738;
	padding: 4px 30px;
	font-size: 14px;
}
.btn-default:hover {
	background: #ea3348;
}

/*************** Header ******************************************************/
header img,
header h1 {
	vertical-align: middle;
}

header { 
	height: 150px;
	line-height: 130px;
}

.logo {
	border-top: 4px solid #ea3348;
	color: #5d5d5d;
	float:left;
	position: relative;
}

.logo h1:hover {
	color: #ea3348;
	transition: color .5s ease-in-out;
}

.logo:after {
	content: "";
	border-top: 4px solid #5d5d5d;
	top: -4px;
	left: 100%;
	width: 0;
	transition: width .5s, left .5s;
	position: absolute;
}

.logo:hover:after {
	left: 0;
	width: 100%;
	transition: width .5s;
}

.logo img {
	margin-right: 10px;
	border-radius: 50%;
	width: 100px;
}


/*************** Navigation **************************************************/
.primary-nav {
	font-size: 14px;
	padding-top: 6px;
}

.nav {
	text-align:right;
	float:right;
	letter-spacing: .5px;
}

.nav li {
	display: inline-block;
	margin: 0 10px;
	text-transform: uppercase;
}

.nav li:last-child {
	margin-right: 0;
}

.nav-old-posts {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 50px;
	text-transform: uppercase;
	font-weight: 400;
}

/*************** Article *****************************************************/
article {
	padding: 25px 0;
}

.headline {
	font-size: 12px;
	line-height: 2;
	color: #888;
}

.post {
	margin: 15px auto;
}

.headline {
	background-color: #383838;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: inset 0 0 10px 10px rgba(0,0,0,.1);
}

/*************** Footer ******************************************************/
footer {
	background-color: #383838;
	color: #ddd;
	margin-top: 44px;
	padding-top: 44px;
	padding-bottom: 44px;
	border-top: 5px solid #ea3348;
	/* make footer stick to bottom */
	position: absolute;
    left: 0;
    bottom: 0;
    height: 350px;
    width: 100%;
    box-shadow: inset 0 0 20px 20px rgba(0,0,0,.1);
}

footer h2 {
	font-weight: 700;
}
footer p {
	padding-bottom: 50px;
}

footer small {
	float:left;
}

footer small,
footer nav {
	font-size: 12px;
}

/*************** Form ********************************************************/
input,
select,
textarea
form span {
  font: 300 14px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.newsletter {
	padding-top: 44px;
	text-align: right;
}
.newsletter span {
	float:left;
	line-height: 30px;
}

/*************** Responsive **************************************************/

@media screen and (max-width: 700px) {
	/* footer is a little bit higher at this resolution */
	body {
		margin-bottom: 480px;
	}

	.container { 
		padding-left: 10px;
		padding-right: 10px;
	}
	/********** Typography *****************************************/
	h1 {
		font-size: 24px; 
	}

	/********** Buttons ********************************************/
	.btn-default {
		margin-top: 10px;
	}

	/********** Header *********************************************/
	header { 
		min-width: 320px;
		line-height: 1;
		height: 100%;
	}
	
	.logo {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}

	.primary-nav {
		width: 100%;
		line-height: 1;
		text-align: center;
	}
	
	/********** Footer *******************************************************/
	footer {
		min-width: 320px;
		text-align: center;
		height: 480px; /* required to make footer stick to bottom properly */
	}
	
	footer small,
	footer .nav {
		width: 100%;
		text-align: center;
		padding-bottom: 25px;
	}
	
	.newsletter,
	.newsletter span {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

}
