{{ partial "head.html" . }}
        <title>{{ .Title }} - {{ .Site.Title }}</title>
{{ partial "analytics.html" . }}
</head>
<body>
{{ partial "header.html" . }}
	<h4 class="container">Showing posts in: {{ .Title }}</h4>
{{ range .Data.Pages }}
    <article>
        <div class="headline">
            <div class="container post">
                <a href="{{ .Permalink }}">
                    <h2>{{ .Title }}</h2>
                </a>
                <time datetime="{{ .Date.Format "2006-01-02" }}">Posted on {{ .Date.Format "January 02, 2006" }}</time> in <i class="fa fa-tags"></i>{{ range .Params.tags }} <a href="/tags/{{ . | urlize }}/" class="tags">{{ . }}</a>.{{ end }}
            </div>
        </div>
        <div class="container post">
            {{ .Content }}
        </div>
    </article>
{{ end }}
{{ partial "footer.html" . }}
