.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0 auto;
  padding-top: 4rem;

  gap: 1rem;
}

@media screen and (min-width: calc(700px + 20rem)) {
  .intro {
    flex-direction: row;
    align-items: center;

    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.intro__image {
  width: 72px;
  border-radius: 100%;
}

.intro__about p {
  margin: 0 0 0.1rem 0;
}

.intro__name {
  font-size: 1.1rem;
  font-weight: bold;
}

.intro__email {
  display: flex;
  gap: 0.5rem;

  margin-top: 1em;
}
