// Base layout (mobile/no css grid support) ************************************
body {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main-nav, .intro, .content, .newsletter, .footer {
  width: 100%;
  max-width: 40rem;

  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
