// Links

a {
  text-decoration: none;
  color: $primary;

  border-bottom: 2px solid $primary;

  &:hover {
    color: $primary-light;
    border-bottom: 2px solid $primary-light;
  }
}

// Unset for some other links in the UI
.nav__item, .nav__item:hover,
.post__title a,
.post__tag,
.related__list a,
.intro__image-link, .intro__image-link:hover {
  border-bottom: none;
}

// Reset it for the preview where we do want it
.post--preview .post__title a {
  border-bottom: 2px solid $primary;

  &:hover {
    border-bottom: 2px solid $primary-light;
  }
}
