// Main navigation

.main-nav, .footer-nav {
  text-align: center;

  .nav__item { margin-right: 1rem; }
  .nav__item:last-of-type { margin-right: 0; }
}

// Footer navigation

.footer {
  display: flex;
  justify-content: space-between;

  .footer-nav {
    display: inline-block;
    margin: 0;
    text-align: right;
  }
}
