body {
  background-color: $background-color;
}

.intro {
  font-size: 1.44rem;
  font-weight: 900;
  color: $blue-darker;

  @media screen and (min-width: 1000px) {
    .intro__action {
      display: block;
      margin-top: 3rem;
    }
  }
}

.post {
  margin-bottom: 3rem;

  .post__header {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .post__title {
    margin-top: 0;
    font-weight: 900;
  }

  .post__date {
    color: $text-color-light;
    white-space: nowrap;
  }

  &.post--preview {
    .post__header { text-align: inherit; }

    .post__title {
      display: inline;
      margin-right: 0.5rem;

      font-weight: bold;
    }
  }

  &.post--quote {
    .post__permalink { display: none; }
    &:hover > .post__permalink { display: inline-block; }

    .post__quote-link { text-decoration: underline; }
  }
}

