body {
  background-color: $background-color;
}

.main-nav .nav__item, .footer-nav .nav__item {
  color: $blue-dark;

  &:hover { color: $blue-darker; }
}

// Intro ***********************************************************************
.intro {
  font-size: 1.2rem;
  font-weight: 900;
  color: $blue-darker;
  text-align: center;

  .intro__image {
    display: none;
  }

  @media screen and (min-width: 1130px) {
    text-align: inherit;

    .intro__image {
      display: inline-block;
      width: 72px;
      border-radius: 100%;
    }

    .intro__action {
      display: block;
      margin-top: 3rem;
    }
  }
}

// Post ************************************************************************
.post {
  margin-bottom: 3rem;

  .post__header {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .post__title {
    margin-top: 0;
    font-weight: 900;
  }

  .post__info {
    color: $text-color-light;
    white-space: nowrap;
  }

  .post__tag {
    opacity: 0.8;
  }

  &.post--preview {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: baseline;

    .post__info {
      margin-right: 1rem;
      font-weight: bold;
      font-variant: small-caps;
    }

    .post__title {
      font-size: 1.2rem;
    }
  }

  &.post--quote {
    .post__permalink { display: none; }

    &:hover > .post__permalink { display: inline-block; }

    .post__quote-link { text-decoration: underline; }
  }
}

// Related *********************************************************************
.related {
  .related__list {
    display: grid;

    margin: 0;
    padding: 0;
    list-style: none;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 1rem;

    @media screen and (max-width: 735px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .related__preview {
    text-align: center;

    @extend %sheet;

    p {
      margin: 0.5rem;
    }
  }

  .related__image {
      width: auto;
      height: 144px;
      background-size: cover;
      border-top-left-radius: $border-radius / 2;
      border-top-right-radius: $border-radius / 2;
    }
}

// Gallery *********************************************************************
.gallery {
  display: grid;

  grid-gap: 3rem;
  grid-template-columns: 640px;
  justify-content: center;

  // Fixes extra "gap" due to img being nested in <a>
  .gallery__preview { display: block; overflow: hidden; }
  .gallery__preview img {
    -webkit-transition: all $default-transition-time;
       -moz-transition: all $default-transition-time;
            transition: all $default-transition-time;
  }

  .gallery__preview img:hover {
    -webkit-transform: scale(1.01);
       -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
         -o-transform: scale(1.01);
            transform: scale(1.01);
  }
}

// Newsletter ******************************************************************
.newsletter-embed {
  padding: 0 1.5rem 3rem 1.5rem;

  text-align: center;

  background-color: $blue-light;
  border-radius: $border-radius;

  .newsletter-embed__form {
    display: grid;

    grid-gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .newsletter-embed__input {
    padding: 0.4rem;

    font-size: 0.8rem;

    -webkit-appearance: none;
        -ms-appearance: none;
            appearance: none;


    background-color: $white;
    border: 1px solid $blue;
    border-radius: $border-radius;
  }

  @media screen and (max-width: 560px) {
    .newsletter-embed__form {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

// Footer **********************************************************************
.footer {
  color: $text-color-light;
}

// Archive *********************************************************************
.archive {
  margin: 0;
  padding: 0;
  list-style: none;

  .archive__date {
    color: $text-color-light;
    font-family: $font-family-monospace;
  }
}

// Code ************************************************************************
// Inline codeblocks not covered by chroma
code {
  background-color: rgba(0,0,0,.03);
  border-radius: $border-radius;
  padding: 4px;
}

.highlight {
  padding-bottom: 1rem;
}
