// Variables

// Colors **********************************************************************
$blue: #4A89DC;
$blue-dark: #284975;
$blue-darker: #415775;

$text-color: #061B36;
$text-color-light: #8294AB;

$primary: $blue;
$primary-light: $blue-dark;

$background-color: #FCFCFC;

// Typography ******************************************************************
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: "Lucida Console", Monaco, monospace;
$base-font-size: 18px;
$base-line-height: 1.5;
