// Variables

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: "Lucida Console", Monaco, monospace;
  --font-size: 14px;
  --line-height: 1.5;

  --color-text: #061B36;
  --color-text-light: #8294AB;
  --color-link: #4A89DC;
  --color-link-dark: #415775;

  --border-radius: 4px;
}
